<aside class="contact-help govuk-!-padding-top-2" style="padding-right:0px">
  <h2 class="govuk-heading-m" id="subsection-title">
    Need help?
  </h2>
  <ul class="govuk-list govuk-!-font-size-16">
    <li>
      <h3 class="govuk-heading-s">
        <img class="govuk-!-margin-right-1" alt="" style="width: 16px;" src="public/images/icons/external-link-icon-blue.svg">
        <a href="https://myessex.csod.com/samldefault.aspx?ouid=1&returnurl=%252fdeeplink%252fprocessredirect.aspx%253fmodule%253d940" class='govuk-!-margin-0 govuk-!-display-inline-block govuk-heading-s govuk-link--no-visited-state' target='_blank'>
          My Oracle Guidance Hub
        </a>
      </h3>
      <p class='govuk-body'>Get help with using My Oracle</p>
    </li>
    <li  style="padding-top:10px">
      <h3 class="govuk-heading-s">
        <img class="govuk-!-margin-right-1" alt="" style="width: 16px;" src="public/images/icons/external-link-icon-blue.svg">
        <a href="https://service.essex.gov.uk/assystnet/application.jsp#homepage" target='_blank' class='govuk-!-margin-0 govuk-!-display-inline-block govuk-heading-s govuk-link--no-visited-state'>
          Assyst portal
        </a>
      </h3>
      <p class='govuk-body'>Raise a service request or  get support</p>
    </li>

    <li  style="padding-top:10px">
      <h3 class="govuk-heading-s">
        <img class="govuk-!-margin-right-1" alt="" style="width: 16px;" src="public/images/icons/telephone.svg">
        By phone
      </h3>
      <p class='govuk-body'>Call <a href="tel:03330135888">0333 013 5888</a>.</p>
    </li>
  </ul>
</aside>
