<aside class="contact-help govuk-!-padding-top-2">
  <h2 class="govuk-heading-m" id="subsection-title">
    Need help?
  </h2>
  <ul class="govuk-list govuk-!-font-size-16">
    <li>
      <h3 class="govuk-heading-s">
        <img class="govuk-!-margin-right-1" alt="" style="width: 16px;" src="public/images/icons/external-link-icon-blue.svg">
        <a href="https://login-epwc-saasfaprod1.fa.ocs.oraclecloud.com/oam/server/obrareq.cgi?encquery%3D0U%2BzH9RDXFfeSNm0ygz6swo7%2BHOZEGpCxr%2FGyKqTT4FvIx9%2FnROWCL%2FNTbLubXe1cmPFHG38XSDoMyMAToekk0p7R8M4%2BWeBWjYKgEmmSMTRmixXfiQSZwatTtWO%2FopS265Ht5%2FWbC%2B8l2fbowJdHCMBgw4ugO%2FSTOxvrXTdXJjEoZMhn4lCfBX5akyG1wD3incFEwTgrvkqhl7UvgaNeDTFTFSyulGr0xDoxUQ%2B636HtH8rqfuFqJ3CorIDJvGkWX0JPi0qZ1JzP1MhrrXovTwz6BrYJ%2FZRZAekRFHSBZulYG2EGJVYU%2FX9%2Bh0%2F0SR4Up9JiQZmTwgcS2%2BNwfcL4uUv7i3Q8%2Bq5hNs%2BRRNOL5cY8X1%2Baf3ZkEKwElqNCE51tFda62n%2FGL%2BwtvbkSJ5aWas05%2FkSw%2BF%2BbyU%2FOpiNYvKLmdCaAMzuxtyTNRYhIjj9Pdc1Kx44v16db0YlEAIjOha9qbrw50DttvXGRNyNbrUWKLRMcLxBIaSeinBBsSFjIEoFqEX3pCM8hmJvdg78nA%3D%3D%20agentid%3DOraFusionApp_11AG%20ver%3D1%20crmethod%3D2%26cksum%3D28d2e7635ad46e42de23bfc2d196181b9a44ee3d&ECID-Context=1.005pkW5bFSl4epWLlyh8iZ0004Xn0000E7%3BkXjE" class='govuk-!-margin-0 govuk-!-display-inline-block govuk-heading-s govuk-link--no-visited-state' target='_blank'>
          My Oracle Guidance Hub
        </a>
      </h3>
      <p class='govuk-body'>Go to the Hub for help and guidance notes</p>
    </li>
    <li>
      <h3 class="govuk-heading-s">
        <img class="govuk-!-margin-right-1" alt="" style="width: 16px;" src="public/images/icons/external-link-icon-blue.svg">
        <a href="https://service.essex.gov.uk/assystnet/application.jsp#homepage" target='_blank' class='govuk-!-margin-0 govuk-!-display-inline-block govuk-heading-s govuk-link--no-visited-state'>
          Assyst portal 
        </a>
      </h3>
      <p class='govuk-body'>Raise a service request or  get support</p>
    </li>

    <li>
      <h3 class="govuk-heading-s">
        <img class="govuk-!-margin-right-1" alt="" style="width: 16px;" src="public/images/icons/telephone.svg">
        By phone
      </h3>
      <p class='govuk-body'>Call <a href="tel:03330135888">0333 013 5888</a>.</p>
    </li>
  </ul>
</aside>
