<div class="fg-cookie-banner"  id="cookie-banner">
<div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                    <div class="fg-cookie-banner__container">
                        <p>We use cookies to collect information about how you use this site. 
                        <br />
                        We use this information to make the website work as well as possible and improve our services. 
                        <br /><a href="/privacy">Learn more about how we use cookies</a></p>
                        <button class="ecc-button" data-accept-cookie="true">Accept all cookies</button> 
                        <button class="ecc-button" data-accept-cookie="false">Do not accept</button>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
