<!-- Hero begins -->
<div class="hero">
  <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                  <div class="search-container">
                    <form action="" class="search-container__form">
                      <input type="text" placeholder="Search.." name="search" class="search-container__input">
                      <button type="submit" class="search-container__button">
                        <span>Submit</span>
                        <img alt='' src='/public/images/icons/search-icon.svg'>
                      </button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hero ends -->
<div class="govuk-width-container">

      <div class="govuk-grid-row" style="">
        <div class="topnav" style="">
              <img class="govuk-!-margin-right-1" alt="" style="width:16px;" src="public/images/icons/external-link-icon-red.svg" >
              <span class="tools" style="padding-right:16px">Tools and resources</span>

              <a href="">My Oracle</a>

              <a href="">
                Assyst Portal
              </a>
              <a href="">
                My Learning
              </a>

              <a href="">
                Internal careers
              </a>
              <a href="">
                Employee directory
              </a>
<!-- save style
<a href="https://fa-epwc-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/faces/FndOverview?fndGlobalItemNodeId=itemNode_my_information_absences1" style="" target="_blank">My Oracle</a>

<a href="https://service.essex.gov.uk/assystnet/application.jsp#homepage" target="_blank" style="">
  Assyst Portal
</a>
<a href="https://myessex.csod.com/samldefault.aspx" target="_blank" style="">
  My Learning
</a>

<a href="https://myessex.csod.com/samldefault.aspx?ouid=1&returnUrl=%252fDeepLink%252fProcessRedirect.aspx%253fmodule%253d385" target="_blank" style="">
  Internal careers
</a>
<a href="#contact" target="_blank" style="">
  Employee directory
</a>



<a href="https://fa-epwc-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/faces/FndOverview?fndGlobalItemNodeId=itemNode_my_information_absences1" style="background-image: url('../../public/images/divider-top-links.svg');
    background-repeat:no-repeat;background-position:4px" target="_blank">My Oracle</a>
  -->


        </div>
      </div>

</div>
