<!-- Hero begins -->
<div class="hero">
  <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                  <div class="search-container">
                    <form action="/action_page.php" class="search-container__form">
                      <input type="text" placeholder="Search.." name="search" class="search-container__input">
                      <button type="submit" class="search-container__button">
                        Submit
                      </button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hero ends -->