<aside class="app-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    In this section
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list">
      <li class="active">
        Book annual leave
      </li>

      <li>
        <a href="#">
          Change annual leave
        </a>
      </li>

      <li>
        <a href="buy-leave">
          Buy more annual leave
        </a>
      </li>


      <li>
        <a href="#">
          Carry over annual leave
        </a>
      </li>
      <li>
        <a href="leave-allowance">
          Annual leave allowance
        </a>
      </li>
    </ul>
  </nav>
</aside>
