
<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="ecc-tools">
                    <div class="ecc-tools__title">
                        Tools and resources
                        <button class="ecc-tools__toggle" id="toolsToggle" aria-expanded="false" aria-controls="tools-menu" aria-label="Show and hide tools menu"><span aria-hidden="true">Show and hide tools menu</span></button>
                    </div>
                    <ul id="tools-menu">
                        {# https://fa-epwc-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/faces/FndOverview?fndGlobalItemNodeId=itemNode_my_information_absences1 #}
                        <li><a href="">My Oracle</a></li>

                        {# https://service.essex.gov.uk/assystnet/application.jsp#homepage #}
                        <li><a href="">Assyst Portal</a></li>

                        {# https://myessex.csod.com/samldefault.aspx #}
                        <li><a href="">My Learning</a></li>

                        {# https://myessex.csod.com/samldefault.aspx?ouid=1&returnUrl=%252fDeepLink%252fProcessRedirect.aspx%253fmodule%253d385 #}
                        <li><a href="">Internal careers</a></li>

                        {# #contact #}
                        <li><a href="">Employee directory</a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
