.search-container {

  &__form {
    display: flex;
    flex-direction: row;
  }

  &__button {
    display: flex;
    align-items: center;
    background: #414745;
    font-family: "Lexend", roboto, oxygen, ubuntu, cantarell, "Helvetica Neue", sans-serif;
    color: #FFFFFF;
    padding: 0.75rem 1rem;

    border: 0;
    // font-weight: bold;
    font-size: 1.1rem;

    img {
      margin-left: 0.5rem;
      height: 1.1rem;
      width: 1.1rem;
    }
  }

  &__input {
    padding: 0.75rem 1rem;
    border: 0;
    background-color: #ffffff;
    border-radius: 0px;
    font-size: 1.1rem;
    width: 100%;
    height: auto;
  }

}


@media screen and (max-width: 768px) {
  .search-container {
    &__input, &__button {
      padding: 0.5rem 0.75rem;
    }
    &__button {
      min-width: auto;
    }
  }
}
