.calculator{
    background: #F2EEF4;
    //border-color:#F3F2F1;
    //border: solid 3px #DDDDDD;
    padding:24px;
    border-radius: 8px;
    background-image: url('../../public/images/icons/icon-calculator.svg');
    background-position: 16px 16px;
    background-repeat:no-repeat;
  
  }