$fg-cookie-banner-background-color: #f3f2f1 !default;
$fg-cookie-banner-width: 100% !default;

.fg-cookie-banner {
    width: 100%;
    background-color: $fg-cookie-banner-background-color;
    overflow: hidden;
    padding: 10px 0;
    display: none;

    p {
        margin: 0;
        padding: 0;
    }


    &__container {
        width: $fg-cookie-banner-width;
        margin: 0px auto;
    }


    .ecc-button {
        margin-top: 20px;
        margin-right: 10px;
    }
}