div .txtblock {
    margin:30px 0 48px 0;
  }

  .key
{
  background: #F3F2F1;
  padding:24px;
  border-radius: 8px;
  background-image: url('../../public/images/icons/key-info.svg');
  background-position: 16px 16px;
  background-repeat:no-repeat;
}
