.govuk-heading-xl {
    color: #0b0c0c;
    font-family: Lexend, "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight:900;
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
  }