.govuk-breadcrumbs {
    font-family: Lexend, "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    color: #0b0c0c;
    margin-top: 35px;
    margin-bottom: 0px;
  }
  
  
  .govuk-breadcrumbs a{
      font-weight:300;
  }