h1, h2, h3, h4, h5 {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 700;
}


h1 {
    font-size: 40px;
    line-height: 140%;
  }
  
  h2 {
    font-size: 30px;
    line-height: 160%;
    /* identical to box height, or 48px */
  }
  
  h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom:10px;
    line-height: 1.2;
  
  }


  h4 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom:10px;
  }