li {
    font-family: Lexend, calibri, helvetica;
    font-style: normal;
    font-weight: normal;
    padding-left:8px;
  }


.active {
    text-decoration:none;
    padding:4px 4px 4px 8px ;
    background-color:#F4E9D1;
    font-weight: bold;
    border-radius: 5px;
  }
