{% extends "layout.html" %}

{% block pageTitle %}
  Essex Intranet Prototype
{% endblock %}

<!-- Phase banner -->
{% block header %}
<div style="padding:8px">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<!-- Phase banner -->

<!-- Custom header -->
{% include 'includes/header.html' %}

<!-- Hero begins -->
<div class="hero">
  <div class="topnav">
    <div class="search-container">
      <form action="/action_page.php">
        <button type="submit"><img class="" alt="" style="width: 16px" src="public/images/icons/search-icon.svg">   Submit</button>
        <input type="text" placeholder="Search.." name="search">
      </form>
    </div>
  </div>
</div>
<!-- Hero ends -->

{% endblock %}

<!-- Custom header -->

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="level-01">Leave and time off</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="level-02">Annual leave</a>
      </li>
    </ol>
  </div>
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" style="padding-right:40px">
  <!-- Block text starts -->
      <h1 class="govuk-heading-xl">
        Book annual leave
      </h1>
      <p>All employees must book annual leave through <b>My Oracle</b>, except teachers and term-time employees. Sign in and select ‘Time and absences’ then ‘Add absence’.</p>

      <button class="button button2">
        <a href="https://fa-epwc-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/faces/FndOverview?fndGlobalItemNodeId=itemNode_my_information_absences1" target="_blank">Sign in to book annual leave</a>
        <img class="" alt="" style="width: 24px;margin-left:12px;padding-top:0px" src="public/images/icons/external-link-icon.svg">
      </button>

  <!-- Block text ends -->

  <!-- Block text starts -->

  <div class="txtblock key">
      <h3 style="padding-left:50px">Key information</h3>
      <ul class="">
        <li>See how much annual leave you have left through <b>My Oracle</b>.</li>
        <li> <a href="leave-allowance">Check your total annual leave days</a> here on the intranet</li>
        <li>You can <a href="buy-leave">buy up to 5 more days annual leave</a> every year</li>
        <li>Your manager will need to approve or decline each annual leave request</li>
        <li>You must keep your annual leave balance up to date</li>
      </ul>

      <img alt="" src="public/images/icons/arrow.svg" style="margin:10px 10px 0 20px;">
<a href="#">Read our annual leave policy </a>
  </div>
  <!-- Block text ends -->

  <!-- Block text starts -->
  <div class="txtblock">
      <h2>Bank holidays</h2>
      <p><b>Full-time employees</b> do not need to book bank holidays as annual leave.</p>
      <p><b>Part-time employees</b> who work fewer than 37 hours a week have a bank holiday allowance included in their annual leave entitlement for holiday.</p>
      <p>If you work part-time, you should book annual leave on any bank holiday that falls on a day you would usually work.</p>
      <img alt="" src="public/images/icons/arrow.svg" style="margin:4px 10px 0 0px;">
      <a href="https://www.gov.uk/bank-holidays" target="_blank">Check the upcoming bank holidays on GOV.UK</a>
  </div>
  <!-- Block text ends -->

  <!-- Block text starts -->
  <div class="txtblock">
      <h2>Christmas shutdown day</h2>
      <p>You must book Christmas shutdown day as annual leave through <b>My Oracle</b> if it falls on a day you would normally work.
Christmas shutdown day is already included in your annual leave balance.
This year, the Christmas shut down day is 28 December 2022. </p>

  </div>
  <!-- Block text ends -->



  <!-- Block text starts -->
  <div class="txtblock">
      <h2>Before you book</h2>
      <p>While you don’t have to, employees often speak to their manager before booking annual leave. It helps them work with you and the team to plan ahead for when you are away from work. Your manager can also book your annual leave for you.
      </p>
  </div>
  <!-- Block text ends -->




  <!-- Documents and Links hidden
  <div class="txtblock" style="border-top: 5px solid #C69318;">
    <h2>Documents and links</h2>
    <ul>
      <li><a href="#">Excel time recording spreadsheet</a></li>
      <li><a href="#">Holiday Estimation Tool</a></li>
      <li><a href="buy-leave">Buying Holiday</a></li>
      <li><a href="#">Annual leave conversion table</a></li>
    <li>  <a href="#">Payroll Data Exception Form</a></li>
    </ul>
  </div>
-->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          In this section
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li class="active">
              Book annual leave
            </li>

            <li>
              <a href="#">
                Change annual leave
              </a>
            </li>

            <li>
              <a href="buy-leave" class="govuk-!-font-weight-bold">
                Buy more annual leave
              </a>
            </li>


            <li>
              <a href="#">
                Carry over annual leave
              </a>
            </li>
            <li>
              <a href="leave-allowance">
                Annual leave allowance
              </a>
            </li>


            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Annual leave policy
              </a>
            </li>

          </ul>
        </nav>
      </aside>

      {% include "includes/contact-help.html" %}
    </div>
  </div>

<div style="height:80px"></div>

{% endblock %}
