{% extends "layout.html" %}

{% block pageTitle %}
Essex Intranet Prototype
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<div class="ecc-information-cards--four-col">
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--learning">
    <img alt="" src="public/images/icons/learning.svg">
    <h3><a href="#">Learning and development</a></h3>
    <p>Resources to help you grow and develop your career</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--expenses">
      <img alt="" src="public/images/icons/expenses.svg">
    <h3><a href="#">Pay, records and expenses</a></h3>
    <p>View your payslip, employment record and submit expenses</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--recruitment">
      <img alt="" src="public/images/icons/recruitment.svg">
    <h3><a href="#">Recruitment</a></h3>
    <p>Line manager's guide to recruitment</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--careers">
      <img alt="" src="public/images/icons/careers.svg">
    <h3><a href="#">Ways of working</a></h3>
    <p>Information on our new hybrid working model</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--book-meeting-room">
      <img alt="" src="public/images/icons/book-meeting-room.svg">
    <h3><a href="#">Book a room</a></h3>
    <p>How to book a meeting room in our offices and other venues</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--time-off-2">
    <img alt="" src="public/images/icons/time-off-2.svg">
    <h3><a href="level-01.html">Annual leave and time off</a></h3>
    <p>Information on annual leave, sickness and other time off</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--flexible-working">
      <img alt="" src="public/images/icons/flexible-working.svg">
    <h3><a href="#">Travel for work</a></h3>
    <p>Travel options, discounts and how to book travel or accommodation for work</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--covid">
  <img alt="" src="public/images/icons/covid.svg">
    <h3><a href="#">Covid-19 information and support</a></h3>
    <p>Latest coronavirus advice and guidance</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--buying">
      <img alt="" src="public/images/icons/buying.svg">
    <h3><a href="#">Buying goods and services</a></h3>
    <p>Resources to help you grow and develop your career</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--pay-and-benefits-2">
      <img alt="" src="public/images/icons/pay-and-benefits-2.svg">
    <h3><a href="#">Benefits and rewards</a></h3>
    <p>Information on benefits, discounts and rewards</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--pension">
      <img alt="" src="public/images/icons/pension.svg">
    <h3><a href="#">Pensions and retirement</a></h3>
    <p>Your pension and retirement options</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--people">
      <img alt="" src="public/images/icons/people.svg">
    <h3><a href="#">Manage your team</a></h3>
    <p>Key information for line managers</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--council">
      <img alt="" src="public/images/icons/council.svg">
    <h3><a href="#">About the council</a></h3>
    <p>Members, councillors, officers, functions and policies</p>
  </div>
  <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--onboarding">
      <img alt="" src="public/images/icons/onboarding.svg">
    <h3><a href="#">New employees</a></h3>
    <p>Information for new starters</p>
  </div>
  {# <div class="ecc-information-cards--four-col__item ecc-information-cards--four-col__icon--help">
      <img alt="" src="public/images/icons/help.svg">
    <h3><a href="#">Help and support</a></h3>
    <p>Help with the intranet, using My Oracle and IT</p>
  </div> #}
  
</div>


  </div>
</div>















<div style="height:80px"></div>


{% endblock %}

{% block footer %}


    {% include "includes/news-carousel.html" %}

 {{ govukFooter({}) }}

{% endblock %}