{% extends "layout.html" %}

{% block pageTitle %}
  Essex Intranet Prototype
{% endblock %}


<!-- Phase banner -->
{% block header %}
<div style="padding:8px">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<!-- Phase banner -->

<!-- Custom header -->
<div class="header">
    <a href="index" class="logo"> <img class="" style="width: 264px" src="public/images/ecc_logo.svg"></a>
      <p style="font-size:22px;padding-top:12px">intranet</p>
</div>

<!-- Hero begins -->
<div class="hero">
  <div class="topnav">
    <div class="search-container">
      <form action="/action_page.php">
        <button type="submit"><img class="" style="width: 16px" src="public/images/icons/search-icon.svg">   Submit</button>
        <input type="text" placeholder="Search.." name="search">
      </form>
    </div>
  </div>
</div>
<!-- Hero ends -->

{% endblock %}

<!-- Custom header -->


{% block content %}

<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 54px" src="public/images/icons/learning.svg">
        <h3><a class="card-description" href="#">Learning and development</a></h3>
        <p>Find out more about...</p>
      </div>
  </div>
<!-- Tile ends-->

<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">

      <img class="" style="width: 44px" src="public/images/icons/expenses.svg">
      <div class="container">
        <h3><a class="card-description" href="#">Pay, records and expenses</a></h3>
        <p>Find out more about...</p>
      </div>
    </div>
  </div>
<!-- Tile ends-->

<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 58px" src="public/images/icons/recruitment.svg">
      <div class="container">
        <h3>
          <a class="card-description" href="#">
          Recruit</a></h3>
          <p>Find out more about...</p>
      </div>
    </div>
  </div>
<!-- Tile ends-->


<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 44px" src="public/images/icons/careers.svg">
      <div class="container">
        <h3>
          <a class="card-description" href="#">
          Ways of working</a></h3>
          <p>Find out more about...</p>
      </div>
    </div>
  </div>
<!-- Tile ends-->

<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 50px" src="public/images/icons/book-meeting-room.svg">
        <h3><a class="card-description" href="#">Book a room</a></h3>
        <p>Find out more about...</p>
      </div>
  </div>
<!-- Tile ends -->



<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 64px" src="public/images/icons/time-off-2.svg">
      <div class="container">
        <h3>
          <a class="card-description" href="level-01.html">
          Annual leave<br>and time off</a></h3>
          <p>Find out more about...</p>
      </div>
    </div>
  </div>
<!-- Tile ends-->


<!-- Tile begins-->
<div class="govuk-grid-column-one-quarter">
  <div class="card">

    <img class="" style="width: 54px" src="public/images/icons/phone.svg">
    <div class="container">
      <h3><a class="card-description" href="#">Employee directory</a></h3>
      <p>Find out more about...</p>
    </div>
  </div>
</div>
<!-- Tile ends-->


<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">

      <img class="" style="width: 54px" src="public/images/icons/covid.svg">
      <div class="container">
        <h3><a class="card-description" href="#">Covid-19 information and support</a></h3>
        <p>Find out more about...</p>
      </div>
    </div>
  </div>
<!-- Tile ends-->


<!-- Tile begins-->

<div class="govuk-grid-column-one-quarter">
  <div class="card">
    <img class="" style="width: 54px" src="public/images/icons/buying.svg">
      <h3><a class="card-description" href="#">Buying goods<br>and services</a></h3>
      <p>Find out more about...</p>
    </div>
</div>
<!-- Tile ends-->


<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 64px" src="public/images/icons/pay-and-benefits-2.svg">
        <h3><a class="card-description" href="#">Pay, benefit<br>and rewards</a></h3>
        <p>Find out more about...</p>
      </div>
  </div>
<!-- Tile ends -->

<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 54px" src="public/images/icons/flexible-working.svg">
        <h3><a class="card-description" href="#">Travel for work</a></h3>
        <p>Find out more about...</p>
      </div>
  </div>
<!-- Tile ends -->


<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 56px" src="public/images/icons/people.svg">
      <div class="container">
        <h3><a class="card-description" href="#">Manage your team</a></h3>
        <p>Find out more about...</p>
      </div>
    </div>
  </div>
<!-- Tile ends-->


<!-- Tile begins-->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 56px" src="public/images/icons/people.svg">
      <div class="container">
        <h3><a class="card-description" href="#">About the council</a></h3>
        <p>Find out more about...</p>
      </div>
    </div>
  </div>
<!-- Tile ends-->



<!-- Tile begins -->
  <div class="govuk-grid-column-one-quarter">
    <div class="card">
      <img class="" style="width: 60px" src="public/images/icons/onboarding.svg">
      <div class="container">
        <h3><a class="card-description" href="#">New employees</a></h3>
        <p>Find out more about...</p>
      </div>
    </div>
  </div>
<!-- Tile ends -->



<!-- Tile begins -->
    <div class="govuk-grid-column-one-quarter">
      <div class="card">
        <img class="" style="width: 54px" src="public/images/icons/pension.svg">
          <h3><a class="card-description" href="#">Pensions and retirement</a></h3>
          <p>Find out more about...</p>

        </div>
    </div>
<!-- Tile ends -->

<!-- Tile begins -->
    <div class="govuk-grid-column-one-quarter">
      <div class="card">
        <img class="" style="width: 44px" src="public/images/icons/careers.svg">
          <h3><a class="card-description" href="#">Help and support</a></h3>
          <p>Find out more about...</p>

        </div>
    </div>

<!-- Tile ends -->




  <div class="govuk-grid-row" style="background-color:#fff">
    <div class="govuk-grid-column-full" >
      <img class="" style="margin-top:60px;width:1000px" src="public/images/one-news.png" >
    </div>
  </div>



  <div style="height:80px"></div>


{% endblock %}
