{% extends "layout.html" %}

{% block pageTitle %}
Essex Intranet Prototype
{% endblock %}


{% block content %}
<div class="govuk-grid-row" style="background-color:#fff">
  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 54px" src="public/images/icons/learning.svg">
      <h3><a class="card-description" href="#">Learning and development</a></h3>
      <p>Resources to help you grow and develop your career</p>
    </div>
  </div>
  <!-- Tile ends-->

  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card no-border">
      <img alt="" style="width: 44px" src="public/images/icons/expenses.svg">
      <div class="container">
        <h3><a class="card-description" href="#">Pay, records and expenses</a></h3>
        <p>View your payslip, employment record and submit expenses</p>
      </div>
    </div>
  </div>
  <!-- Tile ends-->

  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 58px" src="public/images/icons/recruitment.svg">
      <div class="container">
        <h3>
          <a class="card-description" href="#">Recruitment</a>
        </h3>
        <p>Line manager's guide to recruitment</p>
      </div>
    </div>
  </div>
  <!-- Tile ends-->


  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 44px" src="public/images/icons/careers.svg">
      <div class="container">
        <h3>
          <a class="card-description" href="#">
            Ways of working</a></h3>
        <p>Information on our new hybrid working model</p>
      </div>
    </div>
  </div>
  <!-- Tile ends-->

  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 50px" src="public/images/icons/book-meeting-room.svg">
      <h3><a class="card-description" href="#">Book a room</a></h3>
      <p>How to book a meeting room in our offices and other venues</p>
    </div>
  </div>
  <!-- Tile ends -->


  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 54px" src="public/images/icons/time-off-2.svg">
      <div class="container">
        <h3>
          <a class="card-description" href="level-01.html">
            Annual leave<br>and time off</a></h3>
        <p>Information on annual leave, sickness and other time off</p>
      </div>
    </div>
  </div>
  <!-- Tile ends-->

  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 54px" src="public/images/icons/flexible-working.svg">
      <h3><a class="card-description" href="#">Travel for work</a></h3>
      <p>Travel options, discounts and how to book travel or accommodation for work</p>
    </div>
  </div>
  <!-- Tile ends -->

  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">

      <img alt="" style="width: 54px" src="public/images/icons/covid.svg">
      <div class="container">
        <h3><a class="card-description" href="#">Covid-19 information and support</a></h3>
        <p>Latest coronavirus advice and guidance</p>
      </div>
    </div>
  </div>
  <!-- Tile ends-->


  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 54px" src="public/images/icons/buying.svg">
      <h3><a class="card-description" href="#">Buying goods<br>and services</a></h3>
      <p>How to buy goods, services and work equipment</p>
    </div>
  </div>
  <!-- Tile ends-->

  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width:50px" src="public/images/icons/pay-and-benefits-2.svg">
      <h3><a class="card-description" href="#">Benefits<br>and rewards</a></h3>
      <p>Information on benefits, discounts and rewards</p>
    </div>
  </div>
  <!-- Tile ends -->

  <!-- Tile begins -->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 54px" src="public/images/icons/pension.svg">
      <h3><a class="card-description" href="#">Pensions and retirement</a></h3>
      <p>Your pension and retirement options</p>
    </div>
  </div>
  <!-- Tile ends -->

  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 56px" src="public/images/icons/people.svg">
      <div class="container">
        <h3><a class="card-description" href="#">Manage your team</a></h3>
        <p>Key information for line managers</p>
      </div>
    </div>
  </div>
  <!-- Tile ends-->


  <!-- Tile begins-->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 56px" src="public/images/icons/council.svg">
      <div class="container">
        <h3><a class="card-description" href="#">About the council</a></h3>
        <p>Members, councillors, officers, functions and policies</p>
      </div>
    </div>
  </div>
  <!-- Tile ends-->

  <!-- Tile begins -->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 60px" src="public/images/icons/onboarding.svg">
      <div class="container">
        <h3><a class="card-description" href="#">New employees</a></h3>
        <p>Information for new starters</p>
      </div>
    </div>
  </div>
  <!-- Tile ends -->

  <!-- Tile begins -->
  <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
    <div class="card">
      <img alt="" style="width: 54px" src="public/images/icons/help.svg">
      <h3><a class="card-description" href="#">Help and support</a></h3>
      <p>Help with the intranet, using My Oracle and IT</p>
    </div>
  </div>

  <!-- Tile ends -->
</div>
<!-- Row ends -->

<div class="govuk-grid-row" style="background-color:#fff">
  <div class="govuk-grid-column-full">

    <a href="https://onenews.essex.gov.uk/gavins-corner" target="_blank">
      <img alt="" style="margin-top:60px;margin-left:20px;width:100%" src="public/images/one-news.png">
    </a>

  </div>

</div>



<div style="height:80px"></div>


{% endblock %}
