{% extends "layout.html" %}

{% block pageTitle %}
  Essex Intranet Prototype
{% endblock %}

<!-- Phase banner -->
{% block header %}
<div style="padding:8px">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<!-- Phase banner -->

<!-- Custom header -->
{% include 'includes/header.html' %}

<!-- Hero begins -->
<div class="hero">
  <div class="topnav">
    <div class="search-container">
      <form action="/action_page.php">
        <button type="submit"><img class="" style="width: 16px" src="public/images/icons/search-icon.svg">   Submit</button>
        <input type="text" placeholder="Search.." name="search">
      </form>
    </div>
  </div>
</div>
<!-- Hero ends -->

{% endblock %}

<!-- Custom header -->

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="level-01">Leave and time off</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="level-02">Annual leave</a>
      </li>
    </ol>
  </div>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" style="padding-right:40px">
  <!-- Block text starts -->
      <h1 class="govuk-heading-xl">
        Annual leave allowance
      </h1>


  <!-- Block text ends -->

  <!-- Block text starts -->

  <div class="txtblock">
      <p>
        How much annual leave you get is written in your contract. It depends on:


</p>


        <ul class="">
          <li>conditions of service</li>
          <li>salary</li>
          <li>length of service.</li>
        </ul>
        <button class="button button2">
          <a href="https://fa-epwc-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/faces/FndOverview?fndGlobalItemNodeId=itemNode_my_information_absences1" target="_blank">
          Check annual leave allowance</a>
          <img class="" style="width: 24px;margin-left:12px;padding-top:0px" src="public/images/icons/external-link-icon.svg">
        </button>
  </div>

<!-- Block text ends -->

<!-- Block text starts -->

  <div class="txtblock">
        <p>Due to the various different types of contracts within the organisation, you can check your annual leave entitlement in our <a href="">Holiday Policy</a> (PDF, 165KB) or check your contract.</p>
  </div>

<!-- Block text ends -->

<!-- Block text starts -->

<div class="txtblock">
  <h2>Find out how much annual leave you currently have</h2>
  <p>You can check how much holiday you have on My Oracle. Go to My Oracle, Time and Absences, Absence Balance.</p>

  <p>Your absence balance is shown in hours and will include:</p>
  <ul class="">
    <li>any holiday hours that you have bought</li>
    <li>bank holiday hours if you work part-time</li>
    <li>a deduction for any approved annual leave</li>
  </ul>
</div>


  <!-- Block text ends -->

  <!-- Block text starts -->

  <div class="txtblock"  style="background-color:#f3f2f1;padding:20px;border-radius: 10px;" >

  <form id="form">
    <div>
      <h2>Buying annual leave cost calculator</h2>
      <p>Use this calculator to work out the total cost and cost per day of buying more annual leave.</p>

      <label>
        <p style="padding: 0px 0 0px 0">What is your salary?</p>
        <input type="number" id="salary" min="0" required>
      </label>
    </div>

    <div>
      <label>
        <p style="padding: 30px 0 0px 0">How long is your work agreement in months?</p>
        <input type="number" style="width:50px" id="months" style="" min="0" max="12" required value='12'>
      </label>
    </div>

    <div>
      <label>
        <p style="padding: 30px 0 0px 0">How many days of annual leave do you want to buy?</p>
        <input type="number" style="width:50px"  id="holidayLength" min="0">
      </label>
    </div>

<p></p>
    <input type="submit" value="Calculate" class="button button2" style="height:50px">

</form>
<p></p>
<div id="daily"></div>
<div id="total"></div>





</div>
<!-- Block text ends -->
  <!-- Block text starts -->
  <div class="txtblock">
      <h2>Recording extra annual leave</h2>
      <p>
You should record your extra annual leave locally. As it’s not part of your standard annual leave entitlement, it won’t show in your entitlement balance in <a href="https://login-epwc-saasfaprod1.fa.ocs.oraclecloud.com/" target="_blank">My Oracle</a>. ​
      </p>


  </div>
  <!-- Block text ends -->

  <!-- Block text starts -->
  <div class="txtblock">
      <h2>Guidance for line managers</h2>
      <a href="public/images/Holiday_buying_additional_line_manager_guide.pdf" target="_blank" >
      <img src="public/images/icons/arrow.svg" style="margin:0px 8px 0 0">View and download pdf guidance</a>
  </div>
  <!-- Block text ends -->

  <!-- Block text starts -->
  <div class="txtblock">
      <h2>Help with My Oracle</h2>
      <p>Sign in to My Oracle and go to   <a href="https://login-epwc-saasfaprod1.fa.ocs.oraclecloud.com/" target="_blank">My Oracle Guidance Hub</a>  get help with buying more annual leave.</p>
      <p>You can contact support through the <a href="">Assyst portal</a> or call <b>0333 013 5888</b>.​​</p>
  </div>
  <!-- Block text ends -->



<!-- Block text starts -->
  <div class="txtblock">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Writing well for the web
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>This is the content for Writing well for the web.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Writing well for specialists
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>This is the content for Writing well for specialists.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Know your audience
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>This is the content for Know your audience.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          How people read
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>This is the content for How people read.</p>
    </div>
  </div>
</div>

  </div>
<!-- Block text ends -->


    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          In this section
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="book-leave">
                Book annual leave
              </a>
            </li>

            <li>
              <a href="#">
                Change annual leave
              </a>
            </li>

            <li>
              <a href="buy-leave" class="govuk-!-font-weight-bold">
                Buy more annual leave
              </a>
            </li>


            <li>
              <a href="#">
                Carry over annual leave
              </a>
            </li>
            <li class="active">

                Annual leave allowance
        
            </li>


            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                Annual leave policy
              </a>
            </li>

          </ul>
        </nav>
      </aside>

      {% include "includes/contact-help.html" %}
    </div>

  </div>

<div style="height:80px"></div>




{% endblock %}
