{% extends "layout.html" %}

{% block pageTitle %}
Leave allowance - Essex Intranet Prototype
{% endblock %}



{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="level-01">Leave and time off</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="level-02">Annual leave</a>
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="padding-right:40px">
    <!-- Block text starts -->
    <div class="timestamp">Last updated: Wed 02 Feb 2022</div>

    <h1 class="govuk-heading-xl">
      Annual leave allowance
    </h1>


    <!-- Block text ends -->

    <!-- Block text starts -->

    <div class="txtblock">
      <p>
      How much annual leave you get is written in your contract.
      <br>It depends on:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>conditions of service</li>
        <li>salary</li>
        <li>length of service.</li>
      </ul>
      <p>Due to the various different types of contracts within the organisation, you can check your annual leave entitlement in our <a href="public//images/Holiday_policy.pdf" target="_blank">Holiday Policy (PDF, 165KB)</a> or check your contract.</p>

    </div>

    <!-- Block text ends -->



    <!-- Block Calculator starts -->
    <div class="txtblock calculator"  style="" >
      <div class="govuk-form-group">
        <form id="form">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h3 style="padding-left:50px" class='govuk-heading-m'>Holiday allowance calculator</h3>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
              <p><b>What's your employment contract based on?</b></p>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contract-type" name="contract-type" type="radio" value="1">
                <label class="govuk-label govuk-radios__label" for="1">
                  days worked per week
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contract-type" name="contract-type" type="radio" value="2">
                <label class="govuk-label govuk-radios__label" for="2">
                  hours worked per week
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contract-type" name="contract-type" type="radio" value="3">
                <label class="govuk-label govuk-radios__label" for="3">
                  casual or irregular hours, including zero hours contracts
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contract-type" name="contract-type" type="radio" value="4">
                <label class="govuk-label govuk-radios__label" for="4">
                  annualised hours
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contract-type" name="contract-type" type="radio" value="5">
                <label class="govuk-label govuk-radios__label" for="5">
                  compressed hours
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contract-type" name="contract-type" type="radio" value="6">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  shifts
                </label>
              </div>
            </div>

          </fieldset>

          <input type="submit" value="Continue" class="button button2 govuk-body govuk-!-margin-top-4" style="height:50px">

        </form>
      </div>
    </div>
    <!-- Block Calculator ends -->


    <!-- Block text starts -->
    <div class="txtblock">
      <h2 class='govuk-heading-l'>Find out how much annual leave you currently have</h2>
      <p>You can check how much holiday you have on <b>My Oracle</b>.
      Sign in and select ‘Time and absences' then ‘Absence balance'.</p>

      <p>Your absence balance is shown in hours and will include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>any holiday hours that you have bought</li>
        <li>bank holiday hours if you work part-time</li>
        <li>a deduction for any approved annual leave</li>
      </ul>

      <button class="button button2 govuk-body" id='myOracle'>
        <a href="https://fa-epwc-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/faces/FndOverview?fndGlobalItemNodeId=itemNode_my_information_absences1" target="_blank">
          Check annual leave allowance</a>
        <img alt="" style="width: 24px;margin-left:12px;padding-top:0px" src="public/images/icons/external-link-icon.svg">
      </button>
    </div>
    <!-- Block text ends -->

    <!-- Block accordion starts -->
    <div id='accordion' class='govuk-!-margin-bottom-8'>
      <div class='accordion-section'>
        <div id='accordion-heading-1' class='accordion-heading' aria-expanded="false" aria-controls="accordion-body-1" >
          <h3 class='govuk-heading-m'>
            Additional annual leave
          </h3>
          <div class='accordion-toggle'>
            <img class='icon-open' alt='' src='/public/images/icons/accordion-open.svg'>
            <img class='icon-close' alt='' src='/public/images/icons/accordion-close.svg'>
          </div>
        </div>

        <div id='accordion-body-1' class='accordion-body'>
          <p>You're allowed to <a href="#">carry over some annual leave to the following year</a>. This will be included in your balance.</p>
          <p>You can also <a href="buy-leave">buy more holiday</a>. This will be included in your balance.</p>
          <p>Managers may award up to two extra day's holiday for employees who demonstrate an exceptional level of performance.  This is managed between you and your line manager, and not included in your balance.</p>
        </div>
      </div>

      <div class='accordion-section'>
        <div id='accordion-heading-2' class='accordion-heading' aria-expanded="false" aria-controls="accordion-body-2">
          <h3 class='govuk-heading-m'>
            Annual leave and maternity or shared parental leave
          </h3>
          <div class='accordion-toggle'>
            <img class='icon-open' alt='' src='/public/images/icons/accordion-open.svg'>
            <img class='icon-close' alt='' src='/public/images/icons/accordion-close.svg'>
          </div>
        </div>

        <div id='accordion-body-2' class='accordion-body'>
        <p>Annual leave will continue to build up if you're on maternity leave or shared parental leave.</p>
        <p>When you return to work, you should use this leave as soon as possible. But you can carry it forward for up to two years following your return date. This is subject to operational requirements and your line managers agreement.</p>
        <p>If you're a term-time employee, you'll be paid for your accrued holiday at the end of your maternity or shared parental leave. This is on the basis that you'll take your holiday during school closures, in line with normal arrangements.</p>
        </div>
      </div>

      <div class='accordion-section'>
        <div id='accordion-heading-3' class='accordion-heading' aria-expanded="false" aria-controls="accordion-body-3">
          <h3 class='govuk-heading-m'>
            Annual leave for new starters
          </h3>
          <div class='accordion-toggle'>
            <img class='icon-open' alt='' src='/public/images/icons/accordion-open.svg'>
            <img class='icon-close' alt='' src='/public/images/icons/accordion-close.svg'>
          </div>
        </div>

        <div id='accordion-body-3' class='accordion-body'>
          <p>Your annual leave entitlement builds up each month during your first year of employment. This is at a rate of 1/12th of your annual leave entitlement.</p>
          <p>If you book annual leave during your first month, you may be restricted by the amount of leave that has been built up.
            Your line manager may allow you to take more, subject to operational requirements.</p>
          <p>We will try to honour commitments to pre-booked holidays.</p>
          <p>After your first year, you can take your full leave entitlement from the beginning of the leave year.</p>
        </div>
      </div>

      <div class='accordion-section'>
        <div id='accordion-heading-4' class='accordion-heading' aria-expanded="false" aria-controls="accordion-body-4">
          <h3 class='govuk-heading-m'>
            Annual leave for leavers
          </h3>
          <div class='accordion-toggle'>
            <img class='icon-open' alt='' src='/public/images/icons/accordion-open.svg'>
            <img class='icon-close' alt='' src='/public/images/icons/accordion-close.svg'>
          </div>
        </div>

        <div id='accordion-body-4' class='accordion-body'>
          <p>If you are leaving ECC, you should take any annual leave that you have built up during the leave year (since 1 April).</p>
          <p>In some cases, you may be paid for untaken leave.  If you’ve taken too much leave, this will be deducted from your final salary.</p>
          <p>You should tell your line manager as soon as your leaving date is known, so they can enter this on My Oracle. Once they’ve done this, your entitlement balance in My Oracle will be updated.</p>
          <p>You can get an estimate of your entitlement, based on your leaving date, on our holiday estimation calculator.</p>
          <p>Read the full guidance in our <a href="#">Holiday policy (PDF, 165KB)</a>.</p>

          <h4>Guidance for line managers</h4>
          <p>Line managers should follow the instructions on <a href="https://intranet.essex.gov.uk/Pages/How_do_I_make_someone_a_leaver_on_ePayroll.aspx">how to make someone a leaver</a>.  This is important to make sure that any outstanding holiday balance is paid (or deducted if the employee has taken too much leave).</p>
        </div>
      </div>

      <div class='accordion-section'>
        <div id='accordion-heading-5' class='accordion-heading' aria-expanded="false" aria-controls="accordion-body-5">
          <h3 class='govuk-heading-m'>
            Illness while on annual leave
          </h3>
          <div class='accordion-toggle'>
            <img class='icon-open' alt='' src='/public/images/icons/accordion-open.svg'>
            <img class='icon-close' alt='' src='/public/images/icons/accordion-close.svg'>
          </div>
        </div>

        <div id='accordion-body-5' class='accordion-body'>
        <p>If you fall ill or get injured during your annual leave, you should contact your line manager as soon as possible and follow their instructions.  </p>
        <p>Once you return to work, you can <a href="https://intranet.essex.gov.uk/Pages/Amending_holiday.aspx">cancel your annual leave</a> for the days you were ill and record the absence as sickness on My Oracle.  You will need to provide a certificate from your GP, covering the period of the illness.</p>
        <h4>Long-term sickness</h4>
          <p>If you're on long-term sick, you will continue to build up annual leave if you return to work within the same holiday period. </p>
          <p>Check with your line manager or our <a href="#">Holiday Policy (PDF, 165KB)</a> for more details.</p>

        </div>
      </div>
    </div>
    <!-- Block accordion ends -->

  </div>

  <div class="govuk-grid-column-one-third">
    {% include "includes/in-this-section.html" %}
    {% include "includes/contact-help.html" %}
  </div>

</div>

<div style="height:80px"></div>

{% endblock %}
