{% extends "layout.html" %}

{% block pageTitle %}
  Annual leave - Essex Intranet Prototype
{% endblock %}


<!-- Custom header -->

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="level-01">Leave and time off</a>
      </li>

    </ol>
  </div>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Annual leave</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="ecc-information-cards--three-col">
      <div class="ecc-information-cards--three-col__item">
        <h3><a href="book-leave.html">Book annual leave</a></h3>
        <p>How to book annual leave</p>
      </div>


      <div class="ecc-information-cards--three-col__item">
        <h3><a href="#">Change annual leave</a></h3>
        <p>How to change your annual leave on My Oracle</p>
      </div>


      <div class="ecc-information-cards--three-col__item">
        <h3><a href="buy-leave">Buy more<br>annual leave</a></h3>
        <p>How to buy up to 5 more days annual leave, who can buy it and how it works</p>
      </div>



      <div class="ecc-information-cards--three-col__item">
        <h3><a href="">Carry over<br>annual leave</a></h3>
        <p>Find out how much leave you can carry over to the next holiday year</p>
      </div>


      <div class="ecc-information-cards--three-col__item">
        <h3><a href="leave-allowance">Annual leave allowance</a></h3>
        <p>Find out how much annual leave you're entitled to</p>
      </div>


      {# <div class="ecc-information-cards--three-col__item">
        <h3><a href="#">Annual leave policy</a></h3>
        <p>If you need to take time off for caring, a bereavement or another reason, you may be able to take additional leave</p>
      </div> #}
    </div>
  </div>
</div>




{% endblock %}
